body {
  background-image: url("https://images.pexels.com/photos/4394612/pexels-photo-4394612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-color: darkslategray;
}

#show-price {
  display: none;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

h3 {
  text-align: center;
  margin-top: 20px;
  color: whitesmoke;
}

btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: whitesmoke;
}

legend {
  color: whitesmoke;
}

.checkboxes {
  color: whitesmoke;
}